@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,300;1,400&display=swap");

:root {
  /* bg */
  --bg-dark: rgb(32, 32, 32);
  --bg-light: rgb(255, 255, 255);
  --bg-dropdown: rgb(252, 252, 252);
  --bg-blue: #006fd6;
  --bg-header: var(--bg-blue);

  /* font */
  --font-main: #0759a5;
  --font-danger: red;
  --font-light: white;
  --font-disabled: rgb(109, 109, 109);
  --font-secundary: #41445e;

  /* btn */
  --btn-default: #0759a5;
  --btn-disabled: rgb(228, 227, 227);
  --btn-create: blue;
  --btn-update: blue;
  --btn-delete: red;
  --btn-link: red;

  /* input */
  --input-default: rgb(218, 218, 218);
  --input-focused: rgb(194, 193, 193);
}

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Oxygen", "Roboto", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-light);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.grid-container {
  display: grid;
  grid-template:
    [header-left] "hd hd" 11vh [header-right]
    [main-left] "nav  main" 1fr / 22vw 1fr [main-right];
  grid-gap: 0.15rem;
  height: 100vh;
  width: 100vw;
  background-color: rgb(245, 241, 241);
}

.grid-item {
  display: flex;
  background-color: var(--bg-light);
}
aside {
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}
header.grid-item {
  background-color: var(--bg-header);
  grid-area: hd;
  justify-content: space-between;
  padding: 3px 0.5rem;
  color: var(--font-light);
}

nav.grid-item {
  grid-area: nav;
}

main.grid-item {
  grid-area: main;
}
button {
  cursor: pointer;
  padding: 0.7em 1.2em;
  background-color: var(--btn-default);
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 3px;
  border: var(--btn-default);
  border-radius: 1.5px;
}

button:hover {
  background-color: #075197;
}

button:disabled {
  background-color: var(--btn-disabled);
  border-color: var(--btn-disabled);
  color: var(--font-disabled);
  cursor: initial;
}

.form-group {
  width: 100%;
  font-size: 0.8rem;
  margin-bottom: 1em;
}

.form-group > label {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 7px;
}

.form-group > input {
  width: 100%;
  background-color: var(--input-default);
  font-size: 1.05em;
  padding: 0.77em 0.77em;
  border: solid 1px var(--input-default);
  border-radius: 2px;
}
.form-group > input:focus,
.form-group > input:hover {
  background-color: var(--input-focused);
  border-color: var(--input-focused);
}
