@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,300;1,400&display=swap");

:root {
  /* bg */
  --bg-dark: rgb(32, 32, 32);
  --bg-light: rgb(255, 255, 255);
  --bg-dropdown: rgb(252, 252, 252);
  --bg-blue: #006fd6;
  --bg-header: var(--bg-blue);

  /* font */
  --font-main: #0759a5;
  --font-danger: red;
  --font-light: white;
  --font-disabled: rgb(109, 109, 109);
  --font-secundary: #41445e;

  /* btn */
  --btn-default: #176dbd;
  --btn-default-hover: #2a77c0;
  --btn-disabled: rgb(228, 227, 227);
  --btn-create: blue;
  --btn-update: blue;
  --btn-delete: red;
  --btn-link: red;

  /* input */
  --input-default: rgb(218, 218, 218);
  --input-focused: rgb(194, 193, 193);
}

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Oxygen", "Roboto", sans-serif;
  font-size: 0.9em;
}

body,
#App {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-light);
}

/* width */
::-webkit-scrollbar {
  width: 0.8rem;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 2px solid white;
  border-radius: 8px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.no-select-children>* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  pointer-events: none;
}

.text-continous {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.grid-container {
  display: grid;
}

.grid-item {
  display: flex;
  background-color: var(--bg-light);
}

.scrolled {
  overflow-y: scroll;
  padding-right: 4px;
}

.is-selected {
  transition: background-color 0.4s, color 0.43s !important;
  background-color: #2231d956 !important;
  color: var(--font-secundary) !important;
}

.is-today {
  background-color: var(--bg-blue) !important;
  color: rgb(255, 255, 255) !important;
}

.btn.btn-close {
  background-color: white;
  color: black;
  border: solid 1px rgb(226, 16, 16);
}

.btn.btn-close:hover {
  background-color: rgb(240, 240, 240);
}

.btn.btn-close:active {
  background-color: rgb(235, 214, 214);
}

.btn.btn-new {
  background-color: #028536;
}

.btn.btn-new:hover {
  background-color: #00a223;
}

.btn.btn-new:active {
  background-color: #00a960ee;
}

.btn.btn-update {
  background-color: #006bd0;
}

.btn.btn-update:hover {
  background-color: #0056a7;
}

.btn.btn-update:active {
  background-color: #015db3;
}

.btn.btn-delete {
  background-color: #d01500;
}

.btn.btn-delete:hover {
  background-color: #bb1300;
}

.btn.btn-delete:active {
  background-color: #a51100;
}

/*******************************************/
/*******************************************/
/*************** BUTTONS *******************/
/*******************************************/
/*******************************************/

button,
.btn {
  cursor: pointer;
  padding: 0.7em 1.2em;
  background-color: var(--btn-default);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  border: var(--btn-default);
  border-radius: 1.5px;
  transition: all 0.28s;
}

button:hover,
.btn:hover {
  background-color: #075197;
}

button:disabled,
.btn:disabled {
  background-color: var(--btn-disabled);
  border-color: var(--btn-disabled);
  color: var(--font-disabled);
  cursor: initial;
}

/*******************************************/
/*******************************************/
/************* END BUTTONS *****************/
/*******************************************/
/*******************************************/

.fade-enter-from {
  opacity: 0;
}

.fade-enter-active {
  transition: all 0.7s;
}

.fade-enter-to {
  opacity: 1;
}

.fade-leave-from {
  opacity: 1;
}

.fade-leave-active {
  transition: all 0.7s;
}

.fade-leave-to {
  opacity: 0;
}

.fade-slide-modal-enter-from {
  opacity: 0;
}

.fade-slide-modal-enter-active {
  transition: all 0.5s;
}

.fade-slide-modal-enter-to {
  opacity: 1;
}

.fade-slide-modal-leave-from {
  opacity: 1;
}

.fade-slide-modal-leave-active {
  transition: all 0.5s;
}

.fade-slide-modal-leave-to {
  opacity: 0;
}

/* CALENDAR PICKER */
.calendar-picker {
  --day-size: 26px;
  display: flex;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  flex-direction: column;
  font-size: 0.8rem;
  border-radius: 4px;
  box-shadow: 0 0 0.4em rgb(163, 163, 163);
}

.calendar-header,
.calendar-main {
  padding: 0.4rem;
}

.calendar-header {
  background-color: var(--bg-blue);
  border-radius: 4px;
  padding-bottom: 4px;
}

.calendar-main {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar-detail {
  display: grid;
  height: 5em;
  color: white;
  grid-template-areas: "year day day day" "wdm day day day" "wdm day day day" "wdm day day day" "wdm day day day" "wdm day day day";
}

.calendar-detail>* {
  display: flex;
}

.calendar-detail .calendar-year {
  grid-area: year;
}

.calendar-detail .calendar-wd-month {
  grid-area: wdm;
  font-size: 2em;
  align-items: center;
}

.calendar-detail .calendar-day {
  grid-area: day;
  align-items: center;
  justify-content: center;
  font-size: 3.5em;
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding: 4px 0;
}

.calendar-nav .calendar-month-year {
  font-weight: bold;
}

.nav-month {
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9em;
}

.nav-month>* {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-next {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-month .go-today {
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 1px;
  transition: background-color 0.2s;
}

.prev-next:hover,
.go-today:hover {
  background-color: rgba(0, 0, 0, 0.048);
  color: rgba(0, 0, 0, 0.726);
}

.prev-next:active,
.go-today:active {
  background-color: rgba(0, 0, 0, 0.253);
}

.six-weeks {
  display: flex;
  flex-direction: column;
}

.week-days,
.four-two {
  display: grid;
  grid-template-columns: repeat(7, var(--day-size));
  grid-auto-rows: var(--day-size);
  gap: 2px;
  font-size: 0.9em;
  font-weight: bold;
  margin: 2px 0;
  justify-content: center;
}

.week-days {
  border-top: 1px solid rgba(54, 54, 54, 0.349);
  border-bottom: 1px solid rgba(54, 54, 54, 0.349);
}

.week-days>span,
.four-two>.select-date {
  color: rgb(23, 23, 23);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.four-two>.select-date {
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s;
}

.four-two>.select-date:hover {
  background-color: rgba(0, 0, 0, 0.212);
}

.four-two>.select-date:active {
  background-color: rgba(0, 0, 0, 0.512);
}

/*
.select-date.is-selected {
  pointer-events: none;
}*/

.select-date.is-today:not(.is-selected):hover {
  transition: all 0.4s;
  background-color: rgb(1, 73, 207) !important;
}

.select-date.out-month {
  color: rgba(0, 0, 0, 0.7);
}

.select-date.is-invalid-day {
  pointer-events: none;
  cursor: initial;
  color: rgba(0, 0, 0, 0.3);
}

.select-date.is-selected.out-month {
  background-color: #2231d923 !important;
  color: var(--font-secundary) !important;
}

.select-date.is-today.out-month {
  transition: background-color 0.3s;
  background-color: #006fd6d3 !important;
  color: rgb(241, 240, 240) !important;
}

.justify-content-center {
  justify-content: center;
}